* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.c-btn{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    cursor: pointer;
}
section {
    padding: 20px;
    font-size: 3rem;
}
.container {
    display: flex;
    margin-bottom: 20px;
    height: 25vh;
}
.gray {
    background-color: gray;
}
.orange {
    background-color: orange;
}
.gold {
    background-color: gold;
}